:root{
    --fundo-claro:#7890a8;
    --cor-texto: #181848;
    --fundo-escuro: #000000;
    --destaque: #304878;
    --destaque2: #eee3cc;
}

.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: #ee8130;
}

.agua {
    background-color: #6390f0;
}

.inseto {
    background-color: #a6b91a;
}